{{% extends 'main/layoute.html' %}
{% load static %}

{% block title %}Обзор БПЛА{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <h2> Виды БПЛА и их сравнительная характеристика</h2>
        <aside>
            <img src="{% static 'main/img/uav1.jpg' %}" alt="БПЛА" width="500px">
        </aside>
        <p>Сотню лет назад устройства, которые летают без пилота на борту и выполняют недоступные человеку задачи,
казались фантастикой.  Ещё в 1898 году Герберт Уэллс в «Войне миров» описал «летающие машины без пилотов» — и это за 50
лет до первых дронов! Фантасты словно заглянули в будущее. А теперь они стали реальностью.
Изначально БПЛА создавались предпочтительно для военных целей, но с развитием технологий БПЛА нашли свое применение в
гражданских сферах (патрулирование и наблюдение, доставка товара, аэрофотосъемка, видеосъемка, сельское хозяйство и
др.)<br>
<strong>БПЛА — беспилотный летательный аппарат.</strong> Это воздушное судно, которым управляют дистанционно без
присутствия человека на борту. Их также часто называют дронами.

Оператор управляет беспилотником в режиме реального времени через пульт. Он может как полностью контролировать судно,
так и запускать его уже по заданному маршруту, корректируя действия.

Чем БПЛА отличается от БВС
Беспилотный летательный аппарат и беспилотная воздушная система — смежные понятия. Однако БВС — это не просто один
аппарат, а вся инфраструктура для использования беспилотников.
В состав БВС входят наземный пункт управления, системы связи, средства обработки данных, транспорт, системы запуска и
посадки летательных аппаратов.<br>

<strong>Классификация по назначению:</strong>
Разведывательные БПЛА: Используются для сбора информации, наблюдения и разведки.
Ударные БПЛА: Оснащены оружием для поражения целей.
Самолеты-мишени: Используются для отработки систем ПВО.
Барражирующие боеприпасы (дроны-камикадзе): Одноразовые БПЛА, предназначенные для поражения целей.
Гражданские БПЛА: Применяются в различных сферах, таких как сельское хозяйство, картография, доставка грузов и т.д.

Беспилотники отличаются друг от друга по методам управления, строению, характеристикам.<br>

<strong>По типу управления</strong>
1. Дистанционные.
2. Автономные.
3. Гибридные.<br>

<strong>По конструкции</strong>
1. Мультироторные
2. Самолетные.
3. Вертолетные.
4. Смешанные.
5. Аэростаты.<br>

<strong>По летным характеристикам</strong>
1. Взлетная масса.
2. Дальность полета.
3. Высота полета.
4. Продолжительность полета.
        </p>
    </div>
</div>
{% endblock %}
