{% extends 'main/layoute.html' %}
{% load static %}

{% block title %}БПЛА самолётного типа{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <h2>БПЛА самолётного типа</h2>
        <aside>
            <img src="{% static 'main/img/uav3.jpg' %}" alt="БПЛА" width="500px">
        </aside>
        <p><strong>БПЛА самолётного типа.</strong> Беспилотные летательные аппараты (БПЛА) самолетного типа, также известные как БПЛА с
            жестким крылом, представляют собой устройства, в которых подъемная сила создается за счет неподвижного крыла,
            набегающего на него потоком воздуха. Они отличаются высокой скоростью, большой дальностью и продолжительностью
            полета, что делает их подходящими для различных задач, таких как аэрофотосъемка, мониторинг протяженных
            объектов и доставка грузов. </p>
        <ul class="list-group">
            <li class="list-group-item"><strong>Преимущества:</strong> большая высота и продолжительность полёта, простота в обслуживании
                и ремонте, дешевизна. </li>
            <li class="list-group-item"><strong>Недостатки:</strong> часто требования к стартовой площадке, сложность управления и
                посадки, зависимость от погодных условий. </li>
        </ul>
    </div>
</div>
{% endblock %}
