{% extends 'main/layoute.html' %}
{% load static %}

{% block title %}БПЛА вертолётного типа (однороторные) и другие{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <h2>БПЛА вертолётного типа (однороторные) и другие</h2>
        <aside>
            <img src="{% static 'main/img/uav4.jpg' %}" alt="БПЛА" width="500px">
        </aside>
        <p><strong>БПЛА вертолётного типа (однороторные).</strong> Беспилотные летательные аппараты вертолетного типа (БПЛА) представляют
            собой беспилотники, которые используют вращающиеся роторы для создания подъемной силы и тяги, как и
            пилотируемые вертолеты. Они обладают рядом преимуществ, включая способность к вертикальному взлету и посадке,
            зависанию в воздухе и работе в стесненных условиях. В то же время, они могут быть более сложными в управлении
            и обслуживании по сравнению с другими типами БПЛА.<br>

            <strong>Аэростатические БПЛА.</strong> Имеют оболочку, заполненную газом или нагретым воздухом, для создания подъёмной силы
(силы Архимеда).
Преимущества: продолжительность полёта на протяжении нескольких дней или недель, большая грузоподъёмность.
Недостатки: ограниченная манёвренность и скорость, большая зависимость от погодных условий, большие размеры и масса.<br>

<strong>Гибридные БПЛА.</strong> Сочетают преимущества БПЛА самолётного и мультироторного типа, что даёт гибкость при выполнении
различных задач.
Преимущества: вертикальный взлёт и посадка, зависание, высокая скорость и манёвренность, большие, чем у мультироторов,
время полёта и полезная нагрузка.
Недостатки: сложность обслуживания и ремонта, зависимость от погодных условий, дороговизна, сложность управления.
</p>
        <ul class="list-group">
            <li class="list-group-item"><strong>Преимущества вертолетных БПЛА:</strong> вертикальный взлёт и посадка, высокая
                манёвренность и малые габариты, возможность зависнуть на месте. </li>
            <li class="list-group-item"><strong>Недостатки вертолетных БПЛА:</strong> дороговизна, сложность обслуживания и ремонта,
                малая продолжительность полёта, зависимость от погодных условий.</li>
        </ul>
    </div>
</div>
{% endblock %}
