{% extends 'main/layoute.html' %}
{% load static %}

{% block title %}Мультироторные БПЛА{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <h2>Мультироторные БПЛА</h2>
        <aside>
            <img src="{% static 'main/img/uav2.jpg' %}" alt="БПЛА" width="500px">
        </aside>
        <p><strong>Мультироторные БПЛА.</strong> Имеют независимые 2 и более несущих винта. Мультироторные БПЛА, или мультикоптеры,
            представляют собой беспилотные летательные аппараты с несколькими роторами, обычно четырьмя (квадрокоптеры),
            шестью (гексакоптеры) или восемью (октокоптеры). Они отличаются высокой маневренностью, вертикальным взлетом
            и посадкой, а также простотой управления, что делает их популярными в различных сферах.<br>
<strong>FPV-дрон</strong> (First-Person View — «вид от первого лица») — это беспилотный летательный аппарат с камерой,
            которая передаёт видео с помощью беспроводной связи на очки виртуальной реальности или видеоочки пилота.
            Благодаря этой технологии пилот может ощущать полное присутствие в воздушном пространстве и видеть всё, что
            видит дрон, будто он находится внутри летательного аппарата.
</p>
        <ul class="list-group">
            <li class="list-group-item"><strong>Преимущества:</strong> вертикальный взлёт и посадка, зависание, высокая манёвренность и
                малые габариты, простота в обслуживании и ремонте. </li>
            <li class="list-group-item"><strong>Недостатки:</strong> малая продолжительность полёта, зависимость от погодных условий,
                сложность управления для FPV, высокий уровень шума.</li>
        </ul>
    </div>
</div>
{% endblock %}
